:root {
    --black: #000000;
    --slate: #101214;
    --grey: #1E252A;
    --green: #00D770;

    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

/*html, body {*/
/*    background-color: #101214 !important;*/
/*}*/

html,body {
    font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
    background-color: #1E252A;
}

.jumbotron {
    background-color: #101214;
    margin-top: 2rem;
    color: white;
    text-align: center;
}

#playlist_table {
    color: white !important;
}

table p {
    margin-bottom: 0 !important;
}

#playlist_table td {
    font-size: 30px;
    vertical-align: center;
}

#header {
    margin-bottom: 0 !important;
}

.p_name {
    padding-top: 20px !important;
}

#track_table {
    color:black;
}

td button {
    font-size: 26px;
    vertical-align: center;
}

h1 {
    color: white !important;
}

button {
    color: black !important;
    background-color: #00D770 !important;
}